ValorDeMercadoApp/obj/Debug/ValorDeMercadoApp.csproj.FileListAbsolute.txt
ValorDeMercadoApp/obj/Debug/ValorDeMercadoApp.csproj.CopyComplete
ValorDeMercadoApp/bin/Debug/ValorDeMercadoApp.exe.config
ValorDeMercadoApp/bin/Debug/Newtonsoft.Json.xml
ValorDeMercadoApp/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Logging.xml
ValorDeMercadoApp/bin/Debug/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.xml
ValorDeMercadoApp/bin/Debug/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.xml
ValorDeMercadoApp/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.xml
.vs/ValorDeMercadoApp/v15/Server/sqlite3/storage.ide
.vs/ValorDeMercadoApp/v15/Server/sqlite3/db.lock
